.btnpack {
  width: 100% !important;
}
.card-body {
  text-align: center;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}


@media only screen and (min-width: 768px) {
  .content {
    width: 46rem !important;
  }
  .packcontainer {
    max-width: 60rem !important;
    text-align: center;

  }
}
